@using SmartPrint.Models
@{
    Layout = null;
    Document document = null;
    if (ViewBag.Document != null)
    {
        // When a document is sent by the controller, we convert it to a proper Document object
        document = ViewBag.Document as Document;
    }
}
<div id="viewer_container">
    @{

        string mineMap = MimeMapping.GetMimeMapping(document.GetName());
        //string extn= document.GetName().Split(',')[1].ToString();
        // System.Net.Mime.ContentType contentType;
        //string contentType;
        string path = Server.MapPath("UserFileUploads/" + document.GetName());

        WebClient client = new WebClient();
        Byte[] buffer = client.DownloadData(path);

        if (buffer != null)
        {

            Response.ContentType = mineMap; //"application/pdf";
            Response.AddHeader("content-length", buffer.Length.ToString());
            Response.BinaryWrite(buffer);
        }
    }
         
</div>